script(src="/javascripts/tweets/profile.js")
div(class="profile-container bg-white mr-3 d-flex flex-column")
form(class=" profileform d-flex p-3 flex-row justify-content-center align-items-center" action="/users/update/image" method="post" enctype="multipart/form-data" )
  input(type="file" name="avatar" class="d-none input-avatar")
  img(src= user.avatar class="img-fluid")
div(class="d-flex flex-row justify-content-center align-items-center my-3")
  p= `${ user.username } (${ user.local.email })`
if currentUser._id.toString() !== user._id.toString()
 div(class="d-flex flex-row justify-content-center align-items-center")

  if currentUser.following.map( objId => objId.toString() ).includes(user._id.toString())
   a(class="btn btn-outline-primary btn-unfollow" href="/users/unfollow/" + user._id) Unofollow
  else 
   a(class="btn btn-outline-primary btn-follow" href="/users/follow/" + user._id) Follow

div(class="text-center d-flex flex-row justify-content-center align-items-center my-3")
  div(class="flex-fill")
    p
      strong Tweet
      br
      span(class="text-primary")= tweets && tweets.filter( t => t.author._id.toString() === user._id.toString()).length
  div(class="flex-fill")
    p
      strong Following
      br
      span(class="text-primary")= user.following.length
